<button class="btn btn-primary" id="Test" onclick="WebScrTest()">爬蟲測試</button>
<div id="result"></div>




@section Scripts
{
    <script>

        var baseAddress = "https://localhost:7097";
        function WebScrTest() {
            $.ajax({
                type: "POST",
                url: `${baseAddress}@Url.Action("WebScrabingTest", "PCBuilder")`,
            }
            ).done(function (data) {
                $("#result").text(data);
            }).fail(function (error) {
                alert(error.statusText)
            });
        };


    </script>

}



