@* PartialView 的局部樣式 *@
<style asp-add-nested-styles="true">
    .dataTables_wrapper .dataTables_filter label {
        color: white;
    }
    thead {
        margin-top: 20px;
        background-color: black;
        color: white;
    }
</style>
<link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
@* PartialView 的內容 *@
<div class="text-center d-flex justify-content-center align-items-center bg" style="height:100px">
    <h3 class="text-white p-2 m-0">硬體選擇</h3>
    <select asp-items="@ViewBag.ComputerParts" class="form-select" style="width:250px;height:40px" id="HardSelect">
        <option value="" disabled selected hidden>---- 請選擇 ----</option>
    </select>
</div>
<table id="HardwareManageTable" class="dark">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>產品名稱</th>
            <th>規格</th>
            <th>種類</th>
            <th>價格</th>
            <th>瓦數</th>
        </tr>
    </thead>
</table>
<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
<script>
    $(document).ready(function () {

        var datatable = $("#HardwareManageTable").DataTable({
            columns: [
                {
                    class:'dt-control',
                    orderable: false,
                    data: null,
                    defaultContent: ''
                },
                { "data": "productId" },
                { "data": "productName" },
                { "data": "specification" },
                { "data": "componentClassificationName" },
                { "data": "price" },
                { "data": "wattage" },
            ],
            fixedHeader: { header: true },
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/zh-HANT.json'
            },
            order: [[1, 'asc']],
            processing: true
        });

        let HardAddress = "https://localhost:7097";

        $("#HardSelect").change(function () {
            var selectedOption = $(this).val();
            let p;
            switch (selectedOption) {
                case "CPU 中央處理器":
                    p = encodeURI("Type=10000");
                    break;
                case "GPU 顯示卡":
                    p = encodeURI("Type=10001");
                    break;
                case "RAM 記憶體":
                    p = encodeURI("Type=10002");
                    break;
                case "MotherBoard 主機板":
                    p = encodeURI("Type=10003");
                    break;
                case "SSD 固態硬碟":
                    p = encodeURI("Type=10004");
                    break;
                case "HDD 傳統硬碟":
                    p = encodeURI("Type=10005");
                    break;
                case "AirCooler 風冷散熱器":
                    p = encodeURI("Type=10006");
                    break;
                case "LiquidCooler 水冷散熱器":
                    p = encodeURI("Type=10007");
                    break;
                case "CASE 機殼":
                    p = encodeURI("Type=10008");
                    break;
                case "PSU 電源供應器":
                    p = encodeURI("Type=10009");
                    break;
                case "OS 作業系統":
                    p = encodeURI("Type=10010");
                    break;
            };
            // 發送非同步GET請求
            fetch(`${HardAddress}@Url.Action("HardwareData", "Admin")?${p}`, {
                method: "GET"
            }).then(result => {
                // 此時 result 是一個請求結果的物件
                // 注意傳回值型態，字串用 text()，JSON 用 json()
                if (result.ok) {
                    return result.json();
                }
            }).then(data => {
                // 此時 data 為上一個 then 回傳的資料
                // 清空表格
                datatable.clear().draw();
                // 添加新的資料
                datatable.rows.add(data).draw();
            }).catch(error => {
                alert(error);
            });

        });


        // Add event listener for opening and closing details
        $('#HardwareManageTable tbody').on('click', 'td.dt-control', function () {
            var tr = $(this).closest('tr');
            var row = $('#HardwareManageTable').DataTable().row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format1(row.data())).show();
                tr.addClass('shown');
            }
        });

        function format(d) {
            return (
                'Full name: ' 
            );
        }
    });
</script>