@section Styles
{
    <style>
       
    </style>
}

@* container *@
<div class="container-fluid p-0 h-auto">
    <div class="row">
        <div class="col-2 p-0">
            @* Sidebar 側邊導覽列 *@
            @* Sidebar start *@
            <!-- Sidebar  -->
            <nav class="nav flex-column bg-light h-100">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
                <a class="nav-link" href="">會員管理</a>
                <a class="nav-link" href="">遊戲管理</a>
                <a class="nav-link" href="" id="HardWare">硬體管理</a>
                <a class="nav-link" href="">廣告管理</a>
            </nav>
            @* Sidebar end *@
        </div>
        <div class="col-10">
            <div class="h-100 bg-primary" id="System">
                
            </div>
        </div>
    </div>
</div>





@section Scripts
{
    <script>
        // AJAX 呼叫替換 PartialView
        $(document).ready(function () {
            var baseAddress = "https://localhost:7097"; // For Development
            // 事件綁定
            $("#HardWare").on("click", function (event) {
                event.preventDefault();
                // 發送非同步GET請求
                fetch(`${baseAddress}@Url.Action("HardwareManagement", "Admin")`, {
                    method: "GET"
                }).then(response => {
                    // 確保請求是否成功
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // 解析 html
                    return response.text();
                }).then(data => {
                    $("#System").html(data);
                }).catch(error => {
                    // 顯示 throw 的錯誤
                    alert(error);
                });
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        })
    </script>
}
