<button id="HardWare" class="btn btn-primary">HardWare</button>
<div class="container" id="System"></div>

@*麵包屑實作*@
@*breadcrumb start*@
<div class="p-3 bg-light mb-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    聯絡我們
                </li>
            </ol>
        </nav>
    </div>
</div>
@*breadcrumb End*@





@section Scripts
{
    <script>
        // AJAX 呼叫替換 PartialView
        $(document).ready(function () {
            var baseAddress = "https://localhost:7097"; // For Development
            // 事件綁定
            $("#HardWare").on("click", function () {
                // 發送非同步GET請求
                fetch(`${baseAddress}@Url.Action("HardwareManagement", "Admin")`, {
                    method: "GET"
                }).then(response => {
                    // 確保請求是否成功
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // 解析 html
                    return response.text();
                }).then(data => {
                    $("#System").html(data);
                }).catch(error => {
                    // 顯示 throw 的錯誤
                    alert(error);
                });
            });



        })
    </script>
}
