@* PartialView 的 CSS *@
<link href="~/css/hardwareproductmanagesystem.css" rel="stylesheet" asp-append-version="true" />
@* PartialView 的 HTML *@
<div class="page-title position-relative">
    <div class="row">
        @* 系統名稱 *@
        <div class="col-12 col-md-6 order-md-1 d-flex justify-content-center justify-content-md-start">
            <h2 id="SystemName" style="margin-top: 8px;">會員管理系統</h2>
        </div>
        @* 系統選單 *@
        <div class="col-12 col-md-6 order-md-2 d-flex justify-content-center justify-content-md-end" id="SystemMenu">
@*             <select asp-items="@ViewBag.ComputerParts" class="form-select " style="width:250px;height:40px;margin-bottom:8px" id="HardSelect">
                <option value="" disabled selected hidden>---- 請選擇硬體 ----</option>
            </select> *@
        </div>
    </div>
</div>

@* Datatables設定 *@
<section class="section">
    <table id="MemberManageTable" class="display" style="width:100%" ;>
        <thead id="HardwareThead">
            <tr>
                <th>編號</th>
                <th data-priority="1">姓名</th>
                <th>信箱</th>
                <th>性別</th>
                <th>電話</th>
                <th>生日</th>
                <th>個人照</th>
                <th>權限</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</section>


@* 編輯的浮動視窗 *@
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">會員資料編輯</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">姓名：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_name">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">Email：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_email">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">性別：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_gender">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">電話：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_phone">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">生日：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_birthday">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">權限：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_purview" readonly>
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">大頭照：</span>
                    @* <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_photo"> *@
                    @* <img src="/images/headshots/880a17e0-67cb-4f66-b261-d20deec17333.jpg" class="img-thumbnail" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_photo"> *@
                    <img src="/images/headshots" class="img-thumbnail" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_photo">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">儲存修改</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
            </div>
        </div>
    </div>
</div>


@* 刪除的浮動視窗 *@
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">會員資料刪除</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">姓名：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_name_del" readonly>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">Email：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_email_del" readonly>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">性別：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_gender_del" readonly>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">電話：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_phone_del" readonly>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">生日：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_birthday_del" readonly>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">權限：</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_purview_del" readonly>
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="color:white">大頭照：</span>
                    @* <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_photo_del"> *@
                    @* <img src="/images/headshots/880a17e0-67cb-4f66-b261-d20deec17333.jpg" class="img-thumbnail" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_photo_del"> *@
                    <img src="/images/headshots" class="img-thumbnail" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="user_photo_del">
                </div>
            </div>
            <div class="modal-footer">
                <button id="delete" type="button" class="btn btn-primary">刪除</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉視窗</button>
            </div>
        </div>
    </div>
</div>


@* Toast 彈出式通知 容器 start *@
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11" id="ToastContainer">
</div>
@* Toast 彈出式通知 容器 end *@
@* 防偽標籤 生成(會是個 input hidden 元素) *@
@Html.AntiForgeryToken();
@*
    目的: 防止 CSRF 攻擊
    也會生成兩個 cookie => HttpOnly=true、SameSite=Strict
    AntiforgeryCookie => 存的是 防偽標籤 值
    .AspNetCore.Antiforgery.名稱 => 存的是 防偽標籤的 名稱
*@
@* PartialView 的 JavaScript *@
<script>
    $(document).ready(function () {
        let HardAddress = "https://localhost:7097";
        
        // 初始化 Datatables
        var datatable = new DataTable('#MemberManageTable', {
            ajax: {
            type:"GET",
                url: `@Url.Action("GetUsersWithRoles", "MemberManagement", new { area = "Administrator" })`,
                dataSrc: function (json) { return json; }
            },
            // column 定義
            columns: [
                { "data": "userId", "width": "10%", "className": "text-center" },
                { "data": "name", "width": "10%", "className": "text-center" },
                { "data": "email", "width": "10%", "className": "text-center" },
                { "data": "gender", "width": "10%", "className": "text-center" },
                { "data": "phone", "width": "10%", "className": "text-center" },
                {
                    "data": "birthday",
                    "width": "10%",
                    "className": "text-center",
                    "render": function (data, type, row) {
                        if (type === 'display' && data) {
                            let date = new Date(data);
                            return `${date.getFullYear()}-${('0' + (date.getMonth() + 1)).slice(-2)}-${('0' + date.getDate()).slice(-2)}`;
                        }
                        return data;
                    }
                },
                {
                    "data": "photo",
                    "width": "10%",
                    "className": "text-center",
                    "render": function (data, type, row) {
                        return data? `<img src="/images/headshots/${data}" alt="Image" style="width: 100px; height: 100px;" />` : "No Image";
                    }

                },
                { "data": "roleName", "width": "10%", "className": "text-center" },
                {
                    "data": null,
                    "orderable": false,
                    "width": "10%",
                    "className": "text-center",
                        render: function (data, type, row, meta) {
                        // 取得 UserId
                        let UserId = row.userId
                        let Name = row.name
                        let Email = row.email
                        let Gender = row.gender
                        let Phone = row.phone
                        let Birthday = row.birthday
                        let Photo = row.photo
                        let RoleName = row.roleName;
                        // 編輯按鈕
                        let enterEle = `<button class="btn btn-danger" data-userid="${UserId}" data-name="${Name}" data-email="${Email}"  data-gender="${Gender}" data-phone="${Phone}" data-birthday="${Birthday}" data-photo="${Photo}" data-rolename="${RoleName}" id="edit_btn" data-bs-toggle="popover" data-bs-content="nothing"><i class="bi bi-pencil-square"></i></button>`;
                        // 刪除按鈕
                        // let resetEle = '<button class="btn btn-danger" data-userId="' + UserId + '"  data-name="' + Name + '" data-email="' + Email + '" id="delete_btn" data-bs-toggle="popover" data-bs-content="nothing"><i class="bi bi-trash3-fill"></i></button>';
                        let resetEle = `<button class="btn btn-danger" data-userid="${UserId}" data-name="${Name}" data-email="${Email}"  data-gender="${Gender}" data-phone="${Phone}" data-birthday="${Birthday}" data-photo="${Photo}" data-rolename="${RoleName}" " id="delete_btn" data-bs-toggle="popover" data-bs-content="nothing"><i class="bi bi-trash3-fill"></i></button>`;

                        if (type === 'display') {
                            return `${enterEle}&nbsp;${resetEle}`;
                        }
                        return data;
                    }, responsivePriority: 1
                },
            ],
            // 標頭固定
            fixedHeader: {
                // 固定 header
                header: true,
                // 使用導覽欄的高度作為偏移量
                headerOffset: $('#pageNav').outerHeight(),
            },
            // 響應式設計
            responsive: true,
            // 語言設定
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/zh-HANT.json',
            },
            // 預設排序 ~ 根據第一個欄位 升冪排序
            order: [[1, 'asc']],
            // 自動寬度 關閉
            autoWidth: true,
           
        });

        //編輯浮動視窗內容顯示
        $(document).on('click', '#edit_btn', function () {
            const userId = $(this).data('userid');
            const name = $(this).data('name');
            const email = $(this).data("email");
            const gender = $(this).data("gender");
            const phone = $(this).data("phone");

            let birthday = $(this).data("birthday");
            if (birthday) {
                birthday = birthday.split(' ')[0];  // 取得日期部分，忽略時間
            }

            const photo = $(this).data("photo");
            const rolenaem = $(this).data("rolename");
            console.log(`Edit button clicked for User ID: ${userId}, Name:${name}, Email:${email}, Gender:${gender}, Phone:${phone}, Birthday:${birthday}, Roles:${rolenaem}, Photo:${photo}`);

            // 設定模態窗口中 "顯示" 數值
            $("#user_name").val(name);
            $("#user_email").val(email);
            $("#user_gender").val(gender);
            $("#user_phone").val(phone);
            $("#user_birthday").val(birthday);
            $("#user_purview").val(rolenaem);
            $("#user_photo").val(photo);


            // 顯示窗口
            $('#editModal').modal('show');

        });


        //刪除浮動視窗內容顯示
        $(document).on('click', '#delete_btn', function () {
            const userId = $(this).data('userid');
            const name = $(this).data('name');
            const email = $(this).data("email");
            const gender = $(this).data("gender");
            const phone = $(this).data("phone");

            let birthday = $(this).data("birthday");
            if (birthday) {
                birthday = birthday.split(' ')[0];  // 取得日期部分，忽略時間
            }

            const photo = $(this).data("photo");
            const rolenaem = $(this).data("rolename");
            console.log(`Edit button clicked for User ID: ${userId}, Name:${name}, Email:${email}, Gender:${gender}, Phone:${phone}, Birthday:${birthday}, Photo:${photo}`);
            

            // 設定模態窗口中 "顯示" 數值
            $("#user_name_del").val(name);
            $("#user_email_del").val(email);
            $("#user_gender_del").val(gender);
            $("#user_phone_del").val(phone);
            $("#user_birthday_del").val(birthday);
            $("#user_purview_del").val(rolenaem);
            $("#user_photo_del").val(photo);

            // 顯示窗口
            $('#delete').data('userid', userId);
            $('#delModal').modal('show');
        });

        //刪除資料
        $('#delete').on('click', function () {
            const userId = $(this).data('userid'); // 從 'delete' 按鈕獲取 userId
            console.log("Deleting user ID:", userId); // 確認這裡是否正確獲取 userId

            $.ajax({
                url: '/Administrator/MemberManagement/DeleteUser',
                type: 'POST',
                data: {
                    id: userId, // 確保這裡使用正確的參數名稱
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    if (response.success) {
                        alert('刪除成功');
                        location.reload();
                    } else {
                        alert('刪除失敗: ' + response.message);
                    }
                },
                error: function (error) {
                    alert('發生錯誤: ' + error.responseText);
                }
            });
        });

    });
</script>